<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Console Corner</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <h1>The Console Corner </h1>
      <nav>
        <ul>
          <li class="home"><a href="/">HOME</a></li>
          <li><a href="#">FEATURED</a></li>
          <li class="cart"><a href="/"><i class="fas fa-shopping-cart"></i> CART</a></li>
        </ul>
      </nav>
    </header>
    <div class="app-container"></div>
    <h3>No FEATURED items.</h3>
    <footer>
      <p>&copy; 2024 The Console Corner</p>
    </footer>
    <script src="scripts.js"></script>
  </body>
</html>