<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Console Corner</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/a8e3054785.js" crossorigin="anonymous"></script>
  </head>
  <body class="">
    <div class="app-container">
    <header>
      <h1>The Console Corner</h1>
      <nav>
        <ul>
          <li class="home"><a href="#"><i class="fa-solid fa-house"></i></a></li>
          <li><a href="featured"><i class="fa-solid fa-bars"></i>Featured</a></li>
          <li class="cart"><i class="fa-solid fa-cart-shopping"></i><span id="cart-count">0</span></a></li>
        </ul>
      </nav>
    </header>
      <div class="products-container">
        <div class="product-item"><img src="/images/ps5.png" alt="PS5">
          <h3>Sony - Play Station 5 Slim Console - White</h3>
          <p class="product-price"> $499.99</p>
          <button class="add-to-cart">+</button>
        </div>
        <div class="product-item"><img src="/images/switcholed.png" alt="Product Image 2">
          <h3>Nintendo - Switch - OLED Model w/ White Joy-Con - White</h3>
          <p class="product-price">$349.99</p>
          <button class="add-to-cart">+</button>
        </div>
        <div class="product-item"><img src="/images/series1.png" alt="Product Image 2">
          <h3>Microsoft - Xbox Series X 1TB Console - Black</h3>
          <p class="product-price">$499.99</p>
          <button class="add-to-cart">+</button>
        </div>
        <div class="product-item"><img src="/images/turquoise.png" alt="Product Image 2">
          <h3>Nintendo - Switch 32GB Lite - Turquoise</h3>
          <p class="product-price">$199.99</p>
          <button class="add-to-cart">+</button>
        </div>
        <div class="product-item"><img src="/images/logitech.png" alt="Product Image 2">
          <h3>Logitech - G CLOUD Gaming Handheld Console - White</h3>
          <p class="product-price">$299.99</p>
          <button class="add-to-cart">+</button>
        </div>
        <div class="product-item"><img src="/images/coral.png" alt="Product Image 2">
          <h3>Nintendo - Switch 32GB Lite - Coral</h3>
          <p class="product-price">$199.99</p>
          <button class="add-to-cart">+</button>
        </div>
      </div>
    </div>

    <div class="cartTab">
      <h1>Shopping Cart</h1>
      <div class="listCart">
        <div class="item">
          <div class="image">
            <img src="/images/ps5.png" alt="PS5">
          </div>
          <div class="name">
            Name
          </div>
          <div class="totalPrice">
            $200
          </div>
          <div class="quantity">
            <span class="minus"><</span>
            <span>1</span>
            <span class="plus">></span>
          </div>
        </div>
      </div>
      <div class="button">
        <button class="close">Close</button>
        <button class="checkOut">Check Out</button>
      </div>
    </div>

    <a href="/logout">Logout</a>

    <footer>
      <p>&copy; 2024 The Console Corner</p>
    </footer>
    <script src="/scripts/main.js"></script>
  </body>
</html>