@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Honk', cursive;
  padding: 30px;
  color: #0c836f;
  font-size: 60px;
  background: #aeddd6; /* Fallback color */
}

header {
  text-align: center;
  padding: 20px 10;
  background-color: #aeddd6;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  padding: 0; /* Remove padding to align items properly */
  margin: 0; /* Reset margin to align items properly */
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Align items vertically */
  background-color: #6cb5aa;
}

nav li {
  margin: 0 15px; /* Adjust margin for proper spacing */
}

nav a {
  font-family: 'Russo One', sans-serif;
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
}

nav a:hover {
  background-color: #0c836f;
  border-radius: 6px;
}


p {
color: #0c836f;
}

.app-container {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  transition: transform .5s;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-item {
  background-color: #eeeee6;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item img {
  width: 90%;
  filter: drop-shadow(0 50px 20px #0009);
}

.product-item h3{
  font-weight: 500;
  font-size: 35px;
  margin-top: 50px;
}

.product-price {
  font-size: 30px;
  color: #0c836f;
}

.custom_input {
	display: flex;
	align-items: center;
	position: relative;
	max-width: 100%;
}

.input {
  font-size: 16px; /* Adjust font size as needed */
  padding: 5px 10px;
  text-align: left;
  width: 100%;
  outline: none;
  border: 0px solid #C4D1EB;
  border-radius: 1px;
  transition: .3s ease;
}

.input:focus {
	background: #F2F2F2;
	border: 1px solid #ffffff;
	border-radius: 10px;
}

.input::placeholder {
	color: #DDDDDD;
}

button {
  padding: 10px 15px;
  background-color: #6cb5aa;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background-color: #0c836f;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #aeddd6;
  margin-top: 20px;
}

header .cart{
  position: relative;
}

header .cart span{
  display: flex;
  width: 30px;
  height: 30px;
  background-color: red;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -20px;
}

.cartTab{
  width: 400px;
  background-color: #aeddd6;
  color: #eee;
  position: fixed;
  inset: 0 -400px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: .5s;
}

body.showCart .cartTab{
  inset: 0 0 0 auto;
}

body.showCart .app-container{
  transform: translateX(-250px);
}


.cartTab h1{
  font-size: 50px;
  padding: 20px;
  font-weight: 300;
  color: #0c836f;
}

.cartTab .button{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cartTab .button button{
  background-color: #0c836f;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.cartTab .button .close{
  background-color: #6cb5aa;
}

.cartTab .listCart .item img{
  width: 100%;
}

.cartTab .listCart .item{
  display: grid;
  grid-template-columns: 100px 150px 30px 1fr;
  gap: 1px;
  text-align: center;
  align-items: center;
}

.cartTab .name{
  font-size: 20px;
  font-weight: 500;
  color: #0c836f;
}

.cartTab .totalPrice{
  font-size: 20px;
  font-weight: 500;
  color: #0c836f;
}

.listCart .quantity span{
  display: inline-block;
  width: 5px;
  height: 5px;
  cursor: pointer;
  color: #0c836f;
  font-size: 30px;
  font-weight: 500;
}


.listCart .quantity span:nth-child(2){
  background-color: transparent;
  color: #0c836f;
}

.listCart .item:nth-child(even){
  background-color: #6cb5aa;
}

.listCart{
  overflow: auto;
}